---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero';
import PhotoGallery from '../components/PhotoGallery';
import AboutProperty from '../components/AboutProperty';
import Amenities from '../components/Amenities';
import Reviews from '../components/Reviews';
import Calendar from '../components/Calendar';
import Navbar from '../components/Navbar';
// import ContactSection from '../components/ContactSection';

// Temporary photo data - replace with your actual photos
const photos = [
  { url: 'chairs.avif', alt: 'House exterior' },
  { url: 'living.avif', alt: 'Living room' },
  { url: 'chairs.avif', alt: 'House exterior' },
  { url: 'living.avif', alt: 'Living room' },
  { url: 'chairs.avif', alt: 'House exterior' },
  { url: 'living.avif', alt: 'Living room' },
  { url: 'chairs.avif', alt: 'House exterior' },
  { url: 'living.avif', alt: 'Living room' },
];
---

<Layout>
  <main class="min-h-screen">
    <Navbar client:load />
    <Hero />
    <div class=" mb-0">
      <div id="about">
        <AboutProperty />
      </div>
    </div>

    <div id="gallery">
      <PhotoGallery client:load photos={photos} />
    </div>
    
    <div class="max-w-7xl mx-auto space-y-24">
      <div id="amenities" class="-mx-4 sm:-mx-6 lg:-mx-8">
        <Amenities client:load/>
      </div>
      <div id="reviews">
        <Reviews />
      </div>
      <div id="calendar">
        <Calendar client:load />
      </div>
    </div>
  </main>
</Layout>
